.skills-container {
    margin: 4rem 0;
    position: relative;
}

.skills-container::after,
.skills-container::before {
    content: " ";
    width: 28rem;
    height: 28rem;
    border-radius: 28rem;
    background: #3FC1C9;
    position: absolute;
    z-index: -1;
    filter: blur(200px);
}

.skills-container::after {
    top: -3rem;
    left: -5rem;
}

.skills-container::before {
    background: #13795a;
    bottom: 0rem;
    right: 0rem;
}

.skills-container h5 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 5rem;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-itemm{
    text-decoration: none;
    color: #fff;
    position: relative;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 4rem;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-itemm::before{
    content: " ";
    width: 2rem;
    height: 0.2rem;
    background: linear-gradient(90deg, #44c5cc 0%, #2672a5 100%);
    border-radius: 0.5rem;
    position: absolute;
    bottom: -0.6rem;
    opacity: 0;
    transform: translateX(-1.5rem);
    transition: all 0.3s ease;
}

.menu-itemm:hover::before{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    transform: translateX(0);
    opacity: 1;
}

.skills-content {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
}

.skills {
    flex: 1;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
}

.skills-info {
    flex: 1;
}

@media (max-width: 1025px) {
    .skills {
        padding-left: 1rem;
    }
    .menu-itemm{
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 2.5rem;
        margin-top: 0.5rem;
    }
    .skills,
    .skills-content {
        grid-gap: 2rem;
    }
}

@media (max-width: 768px) {
    .skills-content {
        flex-direction: column-reverse;
        gap: 3rem;
    }
    
    .skills,
    .skills-info {
        width: 100%;
    }
    .skills-container h5 {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
    .skills-container::after,
    .skills-container::before {
        width: 18rem;
        height: 18rem;
    }
}

@media (max-width: 600px) {
    .skills-container {
        padding: 0;
    }
}

